@using Microsoft.AspNetCore.Authorization

<h1>Saml2 Test Client</h1>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>Logged in as: <strong>@User.Identity.Name</strong></p>

    <ul>
        <li><a href="/Account/Claims">Show your claims</a></li>
    </ul>

    <form method="post" action="Account/Logout">
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
}
else
{
    <p>Not logged in</p>

    <a href="/Account/Login" class="btn btn-primary" role="button">Login through Saml2</a>

}
